@model Personel.UI.ViewModels.PersonelFormViewModel
@{
    /**/

    ViewBag.Title = "PersonelForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personel Form</h2>
@using (Html.BeginForm("Kaydet", "Personel", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Personel.Ad)
        @Html.TextBoxFor(x => x.Personel.Ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Personel.Ad)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Personel.Soyad)
        @Html.TextBoxFor(x => x.Personel.Soyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Personel.Soyad)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Personel.DepartmanId)
        @Html.DropDownListFor(x => x.Personel.DepartmanId, new SelectList(Model.Departmanlar, "Id", "Ad"), "Departman Seçiniz", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Personel.DepartmanId)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Personel.Maas)
        @Html.TextBoxFor(x => x.Personel.Maas, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Personel.Maas)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Personel.DogumTarihi)
        @Html.TextBoxFor(x => x.Personel.DogumTarihi, ("0:yyy-MM-dd"), new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(x => x.Personel.DogumTarihi)
    </div>
    <div class="radio">
        <label>
            @Html.RadioButtonFor(x => x.Personel.Cinsiyet, true) Erkek
        </label>
        <label>
            @Html.RadioButtonFor(x => x.Personel.Cinsiyet, false) Kadın
        </label>
        @Html.ValidationMessageFor(x => x.Personel.Cinsiyet)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(x => x.Personel.EvliMi) Evli
        </label>
    </div>
    @Html.HiddenFor(x => x.Personel.Id)
    <button type="submit" class="btn btn-default">Kaydet</button>
}

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
